.pagination {
    padding: 10px;
}

a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

a.active {
    background-color: rgb(12, 162, 231);
    color: white;
}

a:hover:not(.active) {
    background-color: #ddd;
}