.PeopleList {}

table {
  overflow-y: scroll;
  height: 75vh;
  display: inline-block;
  border: 1px solid black;
  border-collapse: collapse;
}

tr {
  border: 1px solid black;
}

td, th {
  border-right: 1px solid black;
  padding: 5px;
}